p {
    line-height: 3px; /* tamanho da altura de cada linha */
    letter-spacing: 3px; /* tamanho do espaço entre cada letra */
    word-spacing: 5px; /* tamanho do espaço entre cada palavra */
    text-indent: 30px; /* tamanho da margem da primeira linha do texto */
  }
  h1 {
    border-top: 1px solid #a11717; /* borda vermelha em cima */
    border-right: 1px solid red; /* borda vermelha à direita */
    border-bottom: 1px solid red; /* borda vermelha embaixo */
    border-left: 1px solid red; /* borda vermelha à esquerda */
  }   
  /* deixando o fundo amarelo ouro */
  body {
      background-color: gold;
  }
  h1 {
    color: red;
}

h2 {
    background-color: yellow;
}
h3 {
    background-color: #f2eded;
}
